.new-park {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-park-form {
	width: 350px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #080F0F;
  opacity: .8;
  padding: 2%;
  /* the box-shadow came from w3schools */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}
label {
	margin-right: 10px;
}
input {
	align-self: center;
}