.SignUp {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
.form-container {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #080f0f;
    opacity: 0.8;
    padding: 2%;
    /* the box-shadow came from w3schools */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    color: white;

  }
  
  .form-container label {
    margin-left: 10px;
  }
  .signUpInput p {
    width: 100px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }