header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
}
