header {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A4031F;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  /* the box-shadow came from w3schools */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* C1EDCC */
.navbar {
  color: white;
}

.navbar:hover {
  color: #B0C0BC;
}
nav h3 {
  margin: 10px;
  color: white;
}
nav h3:hover {
  color: #B0C0BC;

}
header nav {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 10px;
  color: white;
}

header h1 {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}
