.park {
	width: 350px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #080F0F;
	opacity: .8;
	color: white;
	padding: 2%;
	margin: 0 auto;
	  /* the box-shadow came from w3schools */
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media only screen and (min-width: 600px) {
	.park {
	  width: 550px;
	}
  }
