#map {
	height: 300px;
	width: 350px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #080F0F;
	padding: 2%;
	margin: 20px auto;
		  /* the box-shadow came from w3schools */
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (min-width: 600px) {
	#map {
	  width: 550px;
	}
  }
