body {
  margin: 0;
  background-size: 100% auto;
  background-image: url(./marion-michele-66097-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: tan;
}
@media only screen and (min-width: 600px)